Checks: 'modernize-use-starts-ends-with, modernize-use-override, modernize-pass-by-value, -clang-diagnostic-unused-private-field'

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: 'softfloat/.*'
