build/
*.gch
autom4te.cache/
.*.swp
*.o
*.d
.gdb_history
Makefile
_spike_main.cc
add.cc
addi.cc
addiw.cc
addw.cc
amoadd_d.cc
amoadd_w.cc
amoand_d.cc
amoand_w.cc
amomax_d.cc
amomax_w.cc
amomaxu_d.cc
amomaxu_w.cc
amomin_d.cc
amomin_w.cc
amominu_d.cc
amominu_w.cc
amoor_d.cc
amoor_w.cc
amoswap_d.cc
amoswap_w.cc
amoxor_d.cc
amoxor_w.cc
and.cc
andi.cc
auipc.cc
beq.cc
bge.cc
bgeu.cc
blt.cc
bltu.cc
bne.cc
c_add.cc
c_addi.cc
c_addi4spn.cc
c_addw.cc
c_and.cc
c_andi.cc
c_beqz.cc
c_bnez.cc
c_ebreak.cc
c_fld.cc
c_fldsp.cc
c_flw.cc
c_flwsp.cc
c_fsd.cc
c_fsdsp.cc
c_fsw.cc
c_fswsp.cc
c_j.cc
c_jal.cc
c_jalr.cc
c_jr.cc
c_li.cc
c_lui.cc
c_lw.cc
c_lwsp.cc
c_mv.cc
c_or.cc
c_slli.cc
c_srai.cc
c_srli.cc
c_sub.cc
c_subw.cc
c_sw.cc
c_swsp.cc
c_xor.cc
config.h
config.log
config.status
csrrc.cc
csrrci.cc
csrrs.cc
csrrsi.cc
csrrw.cc
csrrwi.cc
div.cc
divu.cc
divuw.cc
divw.cc
dret.cc
dummy_rocc.mk
ebreak.cc
ecall.cc
elf2hex
fadd_d.cc
fadd_q.cc
fadd_s.cc
fclass_d.cc
fclass_q.cc
fclass_s.cc
fcvt_d_l.cc
fcvt_d_lu.cc
fcvt_d_q.cc
fcvt_d_s.cc
fcvt_d_w.cc
fcvt_d_wu.cc
fcvt_l_d.cc
fcvt_l_q.cc
fcvt_l_s.cc
fcvt_lu_d.cc
fcvt_lu_q.cc
fcvt_lu_s.cc
fcvt_q_d.cc
fcvt_q_l.cc
fcvt_q_lu.cc
fcvt_q_s.cc
fcvt_q_w.cc
fcvt_q_wu.cc
fcvt_s_d.cc
fcvt_s_l.cc
fcvt_s_lu.cc
fcvt_s_q.cc
fcvt_s_w.cc
fcvt_s_wu.cc
fcvt_w_d.cc
fcvt_w_q.cc
fcvt_w_s.cc
fcvt_wu_d.cc
fcvt_wu_q.cc
fcvt_wu_s.cc
fdiv_d.cc
fdiv_q.cc
fdiv_s.cc
fence.cc
fence_i.cc
feq_d.cc
feq_q.cc
feq_s.cc
fesvr.mk
fld.cc
fle_d.cc
fle_q.cc
fle_s.cc
flq.cc
flt_d.cc
flt_q.cc
flt_s.cc
flw.cc
fmadd_d.cc
fmadd_q.cc
fmadd_s.cc
fmax_d.cc
fmax_q.cc
fmax_s.cc
fmin_d.cc
fmin_q.cc
fmin_s.cc
fmsub_d.cc
fmsub_q.cc
fmsub_s.cc
fmul_d.cc
fmul_q.cc
fmul_s.cc
fmv_d_x.cc
fmv_w_x.cc
fmv_x_d.cc
fmv_x_w.cc
fnmadd_d.cc
fnmadd_q.cc
fnmadd_s.cc
fnmsub_d.cc
fnmsub_q.cc
fnmsub_s.cc
fsd.cc
fsgnj_d.cc
fsgnj_q.cc
fsgnj_s.cc
fsgnjn_d.cc
fsgnjn_q.cc
fsgnjn_s.cc
fsgnjx_d.cc
fsgnjx_q.cc
fsgnjx_s.cc
fsq.cc
fsqrt_d.cc
fsqrt_q.cc
fsqrt_s.cc
fsub_d.cc
fsub_q.cc
fsub_s.cc
fsw.cc
icache.h
insn_list.h
jal.cc
jalr.cc
lb.cc
lbu.cc
ld.cc
lh.cc
lhu.cc
libfesvr.a
libriscv.a
libsoftfloat.a
libsoftfloat.so
libspike_main.a
lr_d.cc
lr_w.cc
lui.cc
lw.cc
lwu.cc
mret.cc
mul.cc
mulh.cc
mulhsu.cc
mulhu.cc
mulw.cc
or.cc
ori.cc
rem.cc
remu.cc
remuw.cc
remw.cc
riscv-dummy_rocc.pc
riscv-fesvr.pc
riscv-riscv.pc
riscv-softfloat.pc
riscv-spike.pc
riscv-spike_main.pc
riscv.mk
sb.cc
sc_d.cc
sc_w.cc
sd.cc
sfence_vma.cc
sh.cc
sll.cc
slli.cc
slliw.cc
sllw.cc
slt.cc
slti.cc
sltiu.cc
sltu.cc
softfloat.mk
spike
spike-dasm
spike-log-parser
spike_main.mk
sra.cc
srai.cc
sraiw.cc
sraw.cc
sret.cc
srl.cc
srli.cc
srliw.cc
srlw.cc
sub.cc
subw.cc
sw.cc
termios-xspike
vaadd_vi.cc
vaadd_vv.cc
vaadd_vx.cc
vadc_vim.cc
vadc_vvm.cc
vadc_vxm.cc
vadd_vi.cc
vadd_vv.cc
vadd_vx.cc
vand_vi.cc
vand_vv.cc
vand_vx.cc
vasub_vv.cc
vasub_vx.cc
vcompress_vm.cc
vdiv_vv.cc
vdiv_vx.cc
vdivu_vv.cc
vdivu_vx.cc
vdot_vv.cc
vdotu_vv.cc
vfadd_vf.cc
vfadd_vv.cc
vfclass_v.cc
vfcvt_f_x_v.cc
vfcvt_f_xu_v.cc
vfcvt_x_f_v.cc
vfcvt_xu_f_v.cc
vfdiv_vf.cc
vfdiv_vv.cc
vfdot_vv.cc
vfirst_m.cc
vfmacc_vf.cc
vfmacc_vv.cc
vfmadd_vf.cc
vfmadd_vv.cc
vfmax_vf.cc
vfmax_vv.cc
vfmerge_vfm.cc
vfmin_vf.cc
vfmin_vv.cc
vfmsac_vf.cc
vfmsac_vv.cc
vfmsub_vf.cc
vfmsub_vv.cc
vfmul_vf.cc
vfmul_vv.cc
vfmv_f_s.cc
vfmv_s_f.cc
vfmv_v_f.cc
vfncvt_f_f_v.cc
vfncvt_f_x_v.cc
vfncvt_f_xu_v.cc
vfncvt_x_f_v.cc
vfncvt_xu_f_v.cc
vfnmacc_vf.cc
vfnmacc_vv.cc
vfnmadd_vf.cc
vfnmadd_vv.cc
vfnmsac_vf.cc
vfnmsac_vv.cc
vfnmsub_vf.cc
vfnmsub_vv.cc
vfrdiv_vf.cc
vfredmax_vs.cc
vfredmin_vs.cc
vfredosum_vs.cc
vfredsum_vs.cc
vfrsub_vf.cc
vfsgnj_vf.cc
vfsgnj_vv.cc
vfsgnjn_vf.cc
vfsgnjn_vv.cc
vfsgnjx_vf.cc
vfsgnjx_vv.cc
vfsqrt_v.cc
vfsub_vf.cc
vfsub_vv.cc
vfwadd_vf.cc
vfwadd_vv.cc
vfwadd_wf.cc
vfwadd_wv.cc
vfwcvt_f_f_v.cc
vfwcvt_f_x_v.cc
vfwcvt_f_xu_v.cc
vfwcvt_x_f_v.cc
vfwcvt_xu_f_v.cc
vfwmacc_vf.cc
vfwmacc_vv.cc
vfwmsac_vf.cc
vfwmsac_vv.cc
vfwmul_vf.cc
vfwmul_vv.cc
vfwnmacc_vf.cc
vfwnmacc_vv.cc
vfwnmsac_vf.cc
vfwnmsac_vv.cc
vfwredosum_vs.cc
vfwredsum_vs.cc
vfwsub_vf.cc
vfwsub_vv.cc
vfwsub_wf.cc
vfwsub_wv.cc
vid_v.cc
viota_m.cc
vlb_v.cc
vlbff_v.cc
vlbu_v.cc
vlbuff_v.cc
vle_v.cc
vleff_v.cc
vlh_v.cc
vlhff_v.cc
vlhu_v.cc
vlhuff_v.cc
vlsb_v.cc
vlsbu_v.cc
vlse_v.cc
vlsh_v.cc
vlshu_v.cc
vlsw_v.cc
vlswu_v.cc
vlw_v.cc
vlwff_v.cc
vlwu_v.cc
vlwuff_v.cc
vlxb_v.cc
vlxbu_v.cc
vlxe_v.cc
vlxh_v.cc
vlxhu_v.cc
vlxw_v.cc
vlxwu_v.cc
vmacc_vv.cc
vmacc_vx.cc
vmadc_vim.cc
vmadc_vvm.cc
vmadc_vxm.cc
vmadd_vv.cc
vmadd_vx.cc
vmand_mm.cc
vmandnot_mm.cc
vmax_vv.cc
vmax_vx.cc
vmaxu_vv.cc
vmaxu_vx.cc
vmerge_vim.cc
vmerge_vvm.cc
vmerge_vxm.cc
vmfeq_vf.cc
vmfeq_vv.cc
vmfge_vf.cc
vmfgt_vf.cc
vmfle_vf.cc
vmfle_vv.cc
vmflt_vf.cc
vmflt_vv.cc
vmfne_vf.cc
vmfne_vv.cc
vmford_vf.cc
vmford_vv.cc
vmin_vv.cc
vmin_vx.cc
vminu_vv.cc
vminu_vx.cc
vmnand_mm.cc
vmnor_mm.cc
vmor_mm.cc
vmornot_mm.cc
vmsbc_vvm.cc
vmsbc_vxm.cc
vmsbf_m.cc
vmseq_vi.cc
vmseq_vv.cc
vmseq_vx.cc
vmsgt_vi.cc
vmsgt_vx.cc
vmsgtu_vi.cc
vmsgtu_vx.cc
vmsif_m.cc
vmsle_vi.cc
vmsle_vv.cc
vmsle_vx.cc
vmsleu_vi.cc
vmsleu_vv.cc
vmsleu_vx.cc
vmslt_vv.cc
vmslt_vx.cc
vmsltu_vv.cc
vmsltu_vx.cc
vmsne_vi.cc
vmsne_vv.cc
vmsne_vx.cc
vmsof_m.cc
vmul_vv.cc
vmul_vx.cc
vmulh_vv.cc
vmulh_vx.cc
vmulhsu_vv.cc
vmulhsu_vx.cc
vmulhu_vv.cc
vmulhu_vx.cc
vmv_s_x.cc
vmv_v_i.cc
vmv_v_v.cc
vmv_v_x.cc
vmv_x_s.cc
vmxnor_mm.cc
vmxor_mm.cc
vnclip_vi.cc
vnclip_vv.cc
vnclip_vx.cc
vnclipu_vi.cc
vnclipu_vv.cc
vnclipu_vx.cc
vnmsac_vv.cc
vnmsac_vx.cc
vnmsub_vv.cc
vnmsub_vx.cc
vnsra_vi.cc
vnsra_vv.cc
vnsra_vx.cc
vnsrl_vi.cc
vnsrl_vv.cc
vnsrl_vx.cc
vor_vi.cc
vor_vv.cc
vor_vx.cc
vpopc_m.cc
vredand_vs.cc
vredmax_vs.cc
vredmaxu_vs.cc
vredmin_vs.cc
vredminu_vs.cc
vredor_vs.cc
vredsum_vs.cc
vredxor_vs.cc
vrem_vv.cc
vrem_vx.cc
vremu_vv.cc
vremu_vx.cc
vrgather_vi.cc
vrgather_vv.cc
vrgather_vx.cc
vrsub_vi.cc
vrsub_vx.cc
vsadd_vi.cc
vsadd_vv.cc
vsadd_vx.cc
vsaddu_vi.cc
vsaddu_vv.cc
vsaddu_vx.cc
vsb_v.cc
vsbc_vvm.cc
vsbc_vxm.cc
vse_v.cc
vsetvl.cc
vsetvli.cc
vsh_v.cc
vslide1down_vx.cc
vslide1up_vx.cc
vslidedown_vi.cc
vslidedown_vx.cc
vslideup_vi.cc
vslideup_vx.cc
vsll_vi.cc
vsll_vv.cc
vsll_vx.cc
vsmul_vv.cc
vsmul_vx.cc
vsra_vi.cc
vsra_vv.cc
vsra_vx.cc
vsrl_vi.cc
vsrl_vv.cc
vsrl_vx.cc
vssb_v.cc
vsse_v.cc
vssh_v.cc
vssra_vi.cc
vssra_vv.cc
vssra_vx.cc
vssrl_vi.cc
vssrl_vv.cc
vssrl_vx.cc
vssub_vv.cc
vssub_vx.cc
vssubu_vv.cc
vssubu_vx.cc
vssw_v.cc
vsub_vv.cc
vsub_vx.cc
vsuxb_v.cc
vsuxe_v.cc
vsuxh_v.cc
vsuxw_v.cc
vsw_v.cc
vsxb_v.cc
vsxe_v.cc
vsxh_v.cc
vsxw_v.cc
vwadd_vv.cc
vwadd_vx.cc
vwadd_wv.cc
vwadd_wx.cc
vwaddu_vv.cc
vwaddu_vx.cc
vwaddu_wv.cc
vwaddu_wx.cc
vwmacc_vv.cc
vwmacc_vx.cc
vwmaccsu_vv.cc
vwmaccsu_vx.cc
vwmaccu_vv.cc
vwmaccu_vx.cc
vwmaccus_vx.cc
vwmul_vv.cc
vwmul_vx.cc
vwmulsu_vv.cc
vwmulsu_vx.cc
vwmulu_vv.cc
vwmulu_vx.cc
vwredsum_vs.cc
vwredsumu_vs.cc
vwsmacc_vv.cc
vwsmacc_vx.cc
vwsmaccsu_vv.cc
vwsmaccsu_vx.cc
vwsmaccu_vv.cc
vwsmaccu_vx.cc
vwsmaccus_vx.cc
vwsub_vv.cc
vwsub_vx.cc
vwsub_wv.cc
vwsub_wx.cc
vwsubu_vv.cc
vwsubu_vx.cc
vwsubu_wv.cc
vwsubu_wx.cc
vxor_vi.cc
vxor_vv.cc
vxor_vx.cc
wfi.cc
xor.cc
xori.cc
xspike
